#chartIA td { color:#716f4b !important; }
#chartIA tr:hover td { color:#fff !important; }
#midlevel_associate_survey-salary_table-container tr:hover td { color:#716f4b !important; }

#midlevel_associate_survey-container { width:730px; height:auto; font-family:helvetica, arial; font-size:9pt; color:#333; text-align:left; position:relative; margin-left:30px; }

/*maps*/
#midlevel_associate_survey-map1_container { width:730px; height:436px; background-image:url('map_bg.gif'); background-repeat:no-repeat; }
#midlevel_associate_survey-map2_container { width:503px; height:436px; background-image:url('map2_bg.png'); background-repeat:no-repeat; position:absolute; display:none; right:10px; z-index:7; }
#midlevel_associate_survey-map2_img { z-index:6; position:absolute; visibility:hidden; right:10px; }

/*map zoom*/
#midlevel_associate_survey-map_zoom { width:134px; height:109px; background-image:url('map_zoom.png'); background-repeat:no-repeat; position:absolute; top:140px; right:30px; cursor:pointer; }
#midlevel_associate_survey-map2_close { position:absolute; top:400px; right:45px; cursor:pointer; display:none; }

/*click block*/
#midlevel_associate_survey-click_block { width:730px; height:436px; position:absolute; background-image:url('/image/tal/midlevel_associates/2012/click_block.png'); background-repeat:no-repeat; z-index:5; display:none; }

/*table*/
#midlevel_associate_survey-table-header { font-weight:bold; color:#716F4B; display:none; }
#midlevel_associate_survey-table-cityname { font-size:12pt; padding:15px 0px 10px 0; }
#midlevel_associate_survey-table-rank { font-size:10pt; } 
#midlevel_associate_survey-score, #midlevel_associate_survey-rank { font-weight:normal; }
table.tablescroll > tbody tr { cursor:pointer; }

#midlevel_associate_survey-clickformore { display:none; }

/*survey*/
#midlevel_associate_survey-answers_container { display:none; width:397px; height:auto; position:absolute; top:10px; left:10px; z-index:7; cursor:pointer; }
#midlevel_associate_survey-answers-top-top { width:397px; height:47px; background-image:url('/image/tal/midlevel_associates/2012/survey_bg-top-top.png'); background-repeat:no-repeat; }
#midlevel_associate_survey-answers-top-mid { width:327px; height:auto; background-image:url('/image/tal/midlevel_associates/2012/survey_bg-top-mid.png'); background-repeat:repeat-y; padding:0 25px 0 45px; }
#midlevel_associate_survey-answers-top-bot { width:397px; height:11px; background-image:url('/image/tal/midlevel_associates/2012/survey_bg-top-bot.png'); background-repeat:no-repeat; }
#midlevel_associate_survey-answers-bot-mid { width:347px; height:auto; background-image:url('/image/tal/midlevel_associates/2012/survey_bg-bot-mid.png'); background-repeat:repeat-y; padding:10px 25px 0 25px; }
#midlevel_associate_survey-answers-bot-bot { width:397px; height:31px; background-image:url('/image/tal/midlevel_associates/2012/survey_bg-bot-bot.png'); background-repeat:no-repeat; }

#midlevel_associate_survey-answers-bot-mid ul { list-style-type:none; margin:0; padding:5px 0 5px 0; font-size:10pt; color:#555537;  }
#midlevel_associate_survey-answers-bot-mid ul li { padding:7px 0; margin:0 20px; }

#midlevel_associate_survey-answers-firmname { font-weight:bold; font-size:13pt; color:#fff; position:relative; bottom:15px; }
#midlevel_associate_survey-answers-cityname { font-size:10pt; color:#fff; margin-top:-10px; }
#midlevel_associate_survey-answers-close { font-size:12pt; font-weight:bold; color:#fff; position:relative; bottom:24px; cursor:pointer; }
.midlevel_associate_survey-answer { font-weight:bold; }

#midlevel_associate_survey-footer { color:#716F4B; margin-top:15px; }

.floatL { float:left; }
.floatR { float:right; }
.clear { clear:both; }